@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* flex items-center gap-[5px] px-[18px] py-[8px] border border-dark-500 bg-dark-400 rounded-[5px] */
  .input-phone {
    @apply rounded-[5px] h-[53px] bg-dark-400 px-[18px] border border-dark-500 py-[8px] flex items-center gap-[5px] placeholder:text-dark-600   !important;
  }

  .input-field {
    @apply border border-dark-500 bg-dark-400 rounded-[5px];
  }

  .shad-otp {
    @apply w-full flex justify-between !important;
  }

  .shad-otp-slot {
    @apply text-[20px] font-bold justify-center flex border text-white border-dark-500 rounded-lg size-14 gap-4 !important;
  }

  /* ==== Status Badge */
  .status-badge {
    @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
  }

  /* Data Table */
  .data-table {
    @apply z-10 w-full overflow-hidden rounded-lg border border-dark-400 shadow-lg;
  }

  .table-actions {
    @apply flex w-full items-center justify-between space-x-2 p-4;
  }

  /* ===== ADMIN */
  .admin-header {
    @apply sticky top-3 z-20 mx-3 flex items-center justify-between rounded-2xl bg-dark-200 px-[5%] py-5 shadow-lg xl:px-12;
  }

  .admin-main {
    @apply flex flex-col items-center space-y-6 px-[5%] pb-12 xl:space-y-12 xl:px-12;
  }

  .admin-stat {
    @apply flex w-full flex-col justify-between gap-5 sm:flex-row xl:gap-10;
  }

  .shad-gray-btn {
    @apply border border-dark-500 cursor-pointer bg-dark-400 text-white !important;
  }
}

/* React phone number override */
.PhoneInput input {
  outline: none;
  background: #1a1d21;
  color: #abb8c4;
}

.PhoneInput select {
  background: #1a1d21;
  color: white;
  cursor: pointer;
}

.PhoneInput select option {
  cursor: pointer !important;
}

.PhoneInput select::-webkit-scrollbar {
  width: 3px;
}

.PhoneInput select::-webkit-scrollbar-thumb {
  background: #0d0f10;
}

.PhoneInput .PhoneInputCountrySelectArrow {
  color: white !important;
}
