@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* flex items-center gap-[5px] px-[18px] py-[8px] border border-dark-500 bg-dark-400 rounded-[5px] */
  .input-phone {
    @apply rounded-[5px] h-[53px] bg-dark-400 px-[18px] border border-dark-500 py-[8px] flex items-center gap-[5px] placeholder:text-dark-600   !important;
  }

  /* .input-phone {
    @apply mt-2 h-11 rounded-md px-3 text-sm border bg-dark-400 placeholder:text-dark-600 border-dark-500 !important;
  } */
}

/* React phone number override */
.PhoneInput input {
  outline: none;
  background: #1a1d21;
  color: #abb8c4;
}

.PhoneInput select {
  background: #1a1d21;
  color: white;
  cursor: pointer;
}

.PhoneInput select option {
  cursor: pointer !important;
}

.PhoneInput select::-webkit-scrollbar {
  width: 3px;
}

.PhoneInput select::-webkit-scrollbar-thumb {
  background: #0d0f10;
}

.PhoneInput .PhoneInputCountrySelectArrow {
  color: white !important;
}
